@import 'components/Blog/variables.scss';

.link-icons-bar {
  margin: $marginM;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: $marginM $marginXS;
    padding: 0;
    font-size: $fontSizeXXL;
    line-height: $fontSizeXXL;

    svg {
      width: 40px;
      height: 40px;
      opacity: 0.7;

      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }
}

@media (max-width: $mobileBreakPointWidth) {
  .link-icons-bar {
    float: right;
    margin: $marginS 0;

    li {
      margin: 0 $marginXS;
      padding: 0;
      font-size: $fontSizeL;
      line-height: $fontSizeL;
    }
  }
}
