@import 'components/Blog/variables.scss';

$logoMobileSize: 8 * $baseDistance;
$logoDesktopSize: 28 * $baseDistance;

.logo {
  display: block;
  margin: $marginL auto;
  padding: 0;
  width: $logoDesktopSize;
  height: $logoDesktopSize;
  border-radius: $logoDesktopSize / 8;
}

@media (max-width: $mobileBreakPointWidth) {
  .logo {
    float: left;
    margin: 0;
    padding: 0;
    width: $logoMobileSize;
    height: $logoMobileSize;
    border-radius: $logoMobileSize / 8;
  }
}
