@import 'components/Blog/variables.scss';

.navigation {
  margin: $marginM $marginS;
  padding: 0;

  li {
    display: block;
    margin: 0;
    padding: $paddingS $paddingXS;
    font-size: $fontSizeM;
    line-height: $fontSizeL;
    font-weight: bold;
  }
}

@media (max-width: $mobileBreakPointWidth) {
  .navigation {
    float: left;

    li {
      display: inline-block;
    }
  }
}
