@import 'components/Blog/variables.scss';

.language-switcher {
  margin: $marginM;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: $marginS;

    svg {
      width: 48px;
      height: 27px;
      opacity: 0.5;
      cursor: pointer;

      .active {
        opacity: 0.75;
      }

      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }
}

@media (max-width: $mobileBreakPointWidth) {
  .language-switcher {
    float: right;
    margin: $marginS 0;

    li {
      margin: $marginXS $marginS;
      padding: 0;
    }
  }
}
