$mobileBreakPointWidth: 968px;

$infoSectionWidth: 32%;
$contentSectionWidth: 100% - $infoSectionWidth;

$blue: rgb(0, 1, 49);
$darkBlue: darken($blue, 10%);
$darkerBlue: darken($blue, 20%);
$lightBlue: lighten($blue, 10%);
$lighterBlue: lighten($blue, 20%);

$white: rgb(246, 246, 246);
$darkWhite: darken($white, 10%);
$darkerWhite: darken($white, 20%);

$black: rgb(20, 20, 20);
$lightBlack: lighten($black, 10%);
$lighterBlack: lighten($black, 20%);

$gray: rgb(144, 144, 144);

$baseDistance: 8px;

$marginXXS: 0.25 * $baseDistance;
$marginXS: 0.5 * $baseDistance;
$marginS: 1 * $baseDistance;
$marginM: 2 * $baseDistance;
$marginL: 4 * $baseDistance;
$marginXL: 6 * $baseDistance;
$marginXXL: 8 * $baseDistance;

$paddingXXS: 0.25 * $baseDistance;
$paddingXS: 0.5 * $baseDistance;
$paddingS: 1 * $baseDistance;
$paddingM: 2 * $baseDistance;
$paddingL: 4 * $baseDistance;
$paddingXL: 6 * $baseDistance;
$paddingXXL: 8 * $baseDistance;

$fontSizeS: 1.5 * $baseDistance;
$fontSizeM: 2 * $baseDistance;
$fontSizeL: 2.5 * $baseDistance;
$fontSizeXL: 3 * $baseDistance;
$fontSizeXXL: 4 * $baseDistance;
$fontSizeXXXL: 6 * $baseDistance;
$fontSizeXXXXL: 8 * $baseDistance;
