@import 'components/Blog/variables.scss';

.info-section {
  position: fixed;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: $infoSectionWidth;
  height: auto;
  min-height: 100%;
  padding: $paddingS;
  color: $darkerWhite;
  background-color: $blue;
  box-shadow: 0 0 $baseDistance 0 $darkerBlue;

  a {
    color: $darkerWhite;
    text-decoration: none;

    &:hover,
    &:active {
      color: $white;
    }
  }
}

@media (max-width: $mobileBreakPointWidth) {
  .info-section {
    position: static;
    display: inline-block;
    width: 100%;
    min-height: 0;
  }
}
